.projects{
  padding: 60px 0;
  position: relative;
  background-color: black;
}
.proj-imgbx {
  padding: 20px; 
  height: 18rem;
  border-radius: 30px;
  overflow: hidden;
  margin-bottom: 24px;
  background: #151515;
  cursor: pointer;
  text-align: center; 
}
.projects h2{
  text-align: center;
  margin-bottom: 2rem;
  font-size: 45px;
  font-weight: 700;
  margin-bottom: 40px;
}
.proj-imgbx img {
  width: 80px;
  height: auto;
  margin-bottom: 15px;
}

.proj-txtx {
  opacity: 1;
  transition: none;
}

.proj-txtx h4 {
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 10px;
}

.proj-txtx span {
  font-style: italic;
  font-weight: 400;
  font-size: 15px;
  letter-spacing: 0.8px;
  display: block;
}
.proj-txtx a{
  display: block;
  text-align: center;
  margin-top: 20px; 
  color: #07e2f1;
  font-size: 18px;
}
.proj-imgbx:hover {
  background: linear-gradient(0.21deg, rgba(22, 21, 22, 0.5) -5.91%, #07e2f180 111.58%);;
  transition: 0.3s ease-in-out;
  transform: scale(1.05);
}